{% extends "site_base.html" %}

{% block content %}
  <style>
	.key {
		width: 340px;
	}
  </style>

  <div class="container-fluid" style="margin-top: 1px;">

    <h1>Welcome</h1>
    <ul>
      <li><a href="help1/">Help1</a>
      <li><a href="help2/">Help2</a>
    </ul>
    
    <h1>Welcome2</h1>
    <ul>
      <li><a href="help3/">Help3</a>
      <li><a href="help4/">Help4</a>
    </ul>
	    		
   </div>

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
 
	
  </div>
{% endblock %}
